html {
    scroll-behavior: smooth;
}


#heroimg1 {
    visibility: visible;
    transition: all 0.3s ease-in;
    opacity: 1;
}


#heroimg2 {
    visibility: visible;
    transition: all 0.3s ease-in;
}